@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: theme('colors.studio.bg');
}
::-webkit-scrollbar-thumb {
  background: theme('colors.studio.border');
  border-radius: 4px;
}
